.facilities-container,
.head-container {
  text-align: center;
  padding: 10px;
  margin-top: 30px;
  padding-bottom: 60px;
}

.left-section {
  align-items: center;
  text-align: center;
  font-size: 14px;
  padding-right: 20px;
}

.icon {
  margin-right: 5px;
  font-size: 16px;
  color: #3498db;
}

.text {
  font-weight: bold;
  color: #3498db;
}

.main-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  color: #1a3a5a;
}
.facilities-title {
  font-size: 24px;
  color: #224b74;
}

.facilities-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #173756;
  gap: 20px;
}

.facility-card {
  background-color: #eff3f7;
  padding: 15px;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 2px 5px rgba(48, 76, 119, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.facility-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 15px rgba(43, 77, 124, 0.2);
}
.facility-icon {
  font-size: 30px;
  margin-right: 10px;
  vertical-align: middle;
}

@media (max-width: 1024px) {
  .facilities-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .facilities-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .facility-card {
    padding: 10px;
  }

  .facility-icon {
    font-size: 24px;
  }

  .main-title {
    font-size: 20px;
  }
}
