.slider {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin-right: 0;
  margin-bottom: 60px;
}

.slider img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: white;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 24px;
  transition: opacity 0.3s ease;
  opacity: 0.7;
}

.slider button:hover {
  opacity: 1;
}

.slider button:first-child {
  left: 10px;
}

.slider button:last-child {
  right: 10px;
}
@media (max-width: 768px) {
  .slider {
    margin-bottom: 30px;
  }
}
